<div ng-app="orderRequest">
    <div ng-controller="MonitorCtrl">
        <h1>New Relic Monitoring - <small>Refreshing in [[chartRefreshTime]] seconds</small></h1>

        <div class='chart'>
            <canvas id="myChart" width="800" height="400"></canvas>
            <div id='legend'></div>
        </div>


    </div>
</div>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/chart.min.js"></script>
<script src="/js/lib/moment.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="/js/angular-main.js"></script>
<script src="/js/controllers/MonitorCtrl.js"></script>
