<div ng-app="orderRequest">
    <div ng-controller="MonitorCtrl">
        <canvas id="myChart" width="400" height="400"></canvas>



    </div>
</div>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/chart.min.js"></script>
<script src="/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="/js/angular-main.js"></script>
<script src="/js/controllers/MonitorCtrl.js"></script>
