<div class="row">
  <div class="col-xs-12 text-center">
    <h3><b>Order Approval Form</b></h3>
  </div>
  <form>
    <p>Requestor : Robin Tang</p>
    <p>Date : August 16, 2014</p>
    {{{order}}}
    <button class="btn btn-primary">Approve</button>
    <button class="btn btn-info">Reassign</button>
    <button class="btn btn-danger">Decline</button>
  </form>
</div>